body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
  background-image: url('./components/rm380-04c.jpg');
  background-size: cover;
    background-position: center;
  height: 100vh;
  width: 100%;
  color: #CCCCCC;
}

.background-image-container {
  /* background-image: url('/path-to-your-image/image.jpg'); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Full viewport height */
  width: 100vw;
  /* Full viewport width */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
